<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Messages</h2>
    <ul>
      <% messages.forEach(message=> { %>
      <li>
        <p><%= message.user %></p>
        <p><%= message.text %></p>
        
        <% if (message.added) { %>
          <p><%= message.added %></p>
        <% } %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
